@import url('https://fonts.googleapis.com/css?family=Work+Sans:regular,500,600&display=swap');

body {
  font-family: 'Work Sans', sans-serif;
  background-color: $bg-color;
}

img {
  max-width: 200px;
}

[class*='__container'] {
  max-width: 1450px;
  margin: 0 auto;
  padding: 0 15px;
}
